<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="Wix6SampleApp.exe" />
      </Component>
		<Component Id="MyRegKey1" Guid="{A0B74FCF-420C-4F6D-8564-B156536F3955}">
			<RegistryValue Root="HKCU" Key="Software\FreeAndEasy Tech\Wix6SampleApp\Params"
						   Name="Metric1" Type="integer" Value="10" KeyPath="yes" />
		</Component>
    </ComponentGroup>
  </Fragment>

<Fragment>
    <ComponentGroup Id="DummyFileToBeCopied" Directory="INSTALLFOLDER">
      <Component>
        <File Source="..\WixBurnSourceFiles\Class1.cs" />
      </Component>
    </ComponentGroup>
</Fragment>

</Wix>
