<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment Id="CustomCopySomeFilesPackageGroup">

    <!-- In earlier versions of WiX we did not need to use a "Detection Condition" for this.
	     But in WiX 6, we do need to use a "Detection Condition" for ExePackage. -->
    <util:FileSearch Id="FindCustomCopySomeFiles" Variable="MYFILEEXISTS" Result="exists"
                         Path="[ProgramFiles64Folder]MyApp\MyApp.exe"/>
    
    <PackageGroup Id="CustomCopySomeFilesPackageGroup">
      <ExePackage Id="CustomCopyFilesScript"  
				  DetectCondition="MYFILEEXISTS"
                  DisplayName="Custom Copy Files" 
                  SourceFile="Scripts\CustomCopyFiles.bat"
                  Name="Scripts\CustomCopyFiles.bat"
                  InstallArguments="cmd.exe /C "
                  RepairArguments="cmd.exe /C "
                  UninstallArguments="cmd.exe /C "
                  Permanent="no"
                  Compressed="no"
                  Vital="no" />
    </PackageGroup>
  </Fragment>
</Wix>
